<header class="site-header">
  <div class="brand">
    <img
      class="brand-logo"
      src="images/logo-matemappe.png"
      alt=""
    >

    <div class="brand-text">
      <h1>Matemappe</h1>
      <p>Mappe concettuali di matematica e fisica</p>
    </div>
  </div>

  <nav>
    <a routerLink="/">Home</a>
    <div class="dropdown">
  <button class="dropdown-toggle" type="button">
    Matematica <span class="arrow">▼</span>
  </button>

  <div class="dropdown-menu">
    <a routerLink="/matematica/analisi-1">
      Analisi Matematica I
    </a>

  </div>
</div>

<div class="dropdown dropdown-right">
  <button class="dropdown-toggle" type="button">
    Fisica <span class="arrow">▼</span>
  </button>

  <div class="dropdown-menu">
    <a routerLink="/fisica/teoria-misura-errori">
      Teoria della Misura e degli Errori
    </a>

    <a routerLink="/fisica/elettromagnetismo-onde">
      Elettromagnetismo e Onde
    </a>
  </div>
</div>
    <a routerLink="/about">Chi sono</a>
  </nav>
</header>
